@CHARSET "UTF-8";

#sub_img {
	width: 971px;
	height: 179px;
	background-image: url("");
	background-repeat: no-repeat;
	background-position: left top;
}
#sub_menu {
	width: 238px;
	float: left;
	margin: 20px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1em
}
#sub_menu ul {
	margin: 20px 0 0 10px;
	list-style: none;
}
#sub_menu a {
	text-decoration: none;
	color: #666;
	display: block;
	height: 15px;
	width: 150px;
	padding: 7px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999;
	background-image: url("../images/fwimages/bullet.gif");
	background-repeat: no-repeat;
	background-position: right center;
}
/*밑줄 none 글자색 #666
높이 15px 너비150px 안여백7px
테두리 아래너비 1px 테두리아래스타일 dotted 
테두리아래색 #999 배경이미지 images/bullet.gif
반복no 위치right center*/
#sub_menu a:hover {
	color: #408080;
	background-image: url("../images/fwimages/bullet_orange.gif");
	background-repeat: no-repeat;
	background-position: right center;
} /*배경이미지 bullet_orange.gif
반복 no 위치right center 글자색 color#F90 */
article {
	float: left;
	width: 660px;
	padding-right: 30px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1em;
	line-height: 1.5em
}
/*정렬 오른쪽 너비 660px 안오른쪽여백 30px
글자체Verdana,Geneva,sans-serif 글자크기1em 
줄간격1.5em */
article h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 35px;
	color: #822619;
	margin: 20px 0;
	font-weight: normal;
} /*글자체 Times New Roman 글자크기 45px
글자색 #CCC 밖여백20px 0  글자굵기 normal*/
article p {
	padding-left: 10px
} /*안왼쪽여백 10px*/
figure.ceo {
	float: right;
	margin: 5px;
} /*정렬 오른쪽 밖여백 5px*/
figcaption {
	text-align: center;
	color: #39F
}
/*글자정렬 가운데 글자색 #39F*/
.clear {
	clear: both;
}
/*------------------*/
#sub_img_center {
	width: 971px;
	height: 179px;
	background-image: url("../images/fwimages/center/sub_back.png");
	background-repeat: no-repeat;
	background-position: left top;
}
/*너비 971 높이179 
배경이미지 images/center/sub_back.png
반복 no 위치left top */
article table#notice {
	border-collapse: collapse;
}

/* 정렬 */
#board {
	margin: 0 0 0 480px;
	text-align: left;
}

/*너비 670 테이블공간없애기*/
@font-face {
	font-family: "seo";
	src: url("../images/fwimages/segoeui.eot");
	src: local(""), url("../images/fwimages/segoeui.woff") format("woff"),
		url("../images/fwimages/segoeui.ttf") format("truetype");
}

article table#notice th {
	height: 20px;
	text-transform: capitalize;
	font-size: 14px;
	font-family: seo;
	font-weight: bold;
	padding: 5px;
	background-color: #408080;
	background-repeat: repeat-x;
	background-position: center center;
	color: #FFF
}
article table#notice td {
	text-align: center;
	padding: 6px 0;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999
}
#notice{
    float: right;
    width: 660px;
    padding-right: 30px;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 1em;
    line-height: 1.5em;}
    
/*글자정렬 center
안여백 6px 0 테두리아래너비 1px 테두리아래스타일dotted
테두리아래색 #999*/
article table#notice td.left {
	text-align: left;
}
/*글자정렬 left*/
article th.tno {
	width: 50px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
} /*너비 50px 
왼쪽위 둥글게5px 왼쪽아래 둥글게5px*/
article th.ttitle {
	width: 400px;
	letter-spacing: 0.7em
}
/*너비 400px 문자간격 0.7em*/
article th.twrite {
	width: 100px;
}
/*너비 100px*/
article th.tdate {
	width: 50px;
}
/*너비 50px*/
article th.tread {
	width: 50px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
/*너비 50px 
오른쪽위 둥글게5px 오른쪽아래 둥글게5px*/
article #table_search {
	margin: 15px 0 10px 0;
	float: right;
}
/*밖여백 15px 0 10px 0 정렬 right*/
#table_search .input_box {
	height: 20px;
	width: 200px;
	border-radius: 10px;
	background-color: #FEFDED;
	border: 1px solid #333
}
/*높이 20px 너비 200px
테두리 1px solid #333 테두리둥글게 10px 배경색#FEFDED*/
#table_search .btn {
	padding: 2px;
	margin: 0 0 0 5px;
	width: 90px;
	height: 23px;
	border: 1px solid #999;
	border-radius: 10px;
	color: #FFF;
	background-color: #408080;
	background-repeat: repeat-x;
	background-position: center center
}
#page_control {
	text-align: center;
	margin: 20px 0 0 0;
	margin-right: auto;
	margin-left: auto;
}
/*글자정렬 center 밖여백 20px 0 0 0
밖여백오른쪽 auto 밖여백왼쪽 auto*/
#page_control a {
	padding: 2px 5px;
	text-decoration: none;
	color: #333;
	margin: 0 5px;
}
/*안여백 2px 5px 밑줄 none 글자색#333 밖여백 0 5px*/
#page_control a:hover {
	font-weight: bold;
	color: #F90;
	text-decoration: underline;
}
/*글자굵기bold 글자색#F90 밑줄 underline*/
article table#notice tr:hover {
	background-color: #F5F5DC;
	cursor: pointer;
	cursor: hand;
}
/*배경색 #EEFDFF
커서 pointer 커서 hand*/
/*------------------*/
form#join {
	margin: 10px 0 0 0;
	width: 670px
}
/*밖여백 10px 0 0 0 너비670px*/
form#join fieldset {
	padding: 10px 0 20px 5px;
	border: none;
}
/*안여백 10px 0 20px 5px 테두리없음*/
form#join fieldset legend {
	font-family: seo;
	font-size: 20px;
	border-bottom: 1px dotted #666;
	width: 600px;
	padding: 5px 0;
}
/*글자체 seo 글자크기20px
테두리아래 1px dotted #666 너비600px 안여백 5px 0*/
form#join label {
	width: 140px; /* float: left; */
	margin: 5px 0;
	display: inline-block;
}
/*너비 140px 정렬 왼쪽 밖여백 5px 0*/
form#join input {
	margin: 5px 0;
	border: 1px solid #999;
	background-color: #FCFDEA;
}
/*밖여백 5px 0 테두리 1px solid #999
배경색 #FCFDEA*/
form#join input.id {
	width: 100px;
	height: 18px;
} /*너비 100px 높이 18px*/
form#join input.dup {
	width: 120px;
	height: 23px;
	border-radius: 8px;
	border: none;
	margin: 0 0 0 5px;
	font-weight: bold;
	color: #822619;
	background-repeat: repeat-x;
	background-position: center center;
}
/* 이메일 인증 */
form#join input.mail, .post {
	width: 100px;
	height: 18px;
} /*너비 100px 높이 18px*/
form#join input.mail, .post {
	width: 120px;
	height: 23px;
	border-radius: 8px;
	border: none;
	margin: 0 0 0 5px;
	font-weight: bold;
	color: #822619;
	background-repeat: repeat-x;
	background-position: center center;
}
/* 이메일 인증 */
/* modify */
form#modify {
	margin: 10px 0 0 0;
	width: 670px
}
/*밖여백 10px 0 0 0 너비670px*/
form#modify fieldset {
	padding: 10px 0 20px 5px;
	border: none;
}
/*안여백 10px 0 20px 5px 테두리없음*/
form#modify fieldset legend {
	font-family: seo;
	font-size: 20px;
	border-bottom: 1px dotted #666;
	width: 600px;
	padding: 5px 0;
}
/*글자체 seo 글자크기20px
테두리아래 1px dotted #666 너비600px 안여백 5px 0*/
form#modify label {
	width: 140px; /* float: left; */
	margin: 5px 0;
	display: inline-block;
}
/*너비 140px 정렬 왼쪽 밖여백 5px 0*/
form#modify input {
	margin: 5px 0;
	border: 1px solid #999;
	background-color: #FCFDEA;
}
form#modify input .post {
	width: 100px;
	height: 18px;
} /*너비 100px 높이 18px*/
form#modify input .post {
	width: 120px;
	height: 23px;
	border-radius: 8px;
	border: none;
	margin: 0 0 0 5px;
	font-weight: bold;
	color: #822619;
	background-repeat: repeat-x;
	background-position: center center;
}
form#modify input {
	margin: 5px 0;
	border: 1px solid #999;
	background-color: #FCFDEA;
}

form#modify #buttons .submit, form#modify #buttons .cancel {
	height: 30px;
	width: 150px;
	border: 1px solid #666;
	border-radius: 10px;
	box-shadow: 3px 3px 2px #CCC;
	font-size: 14px;
	margin-top: 20px;
	
}
form#modify #buttons .submit {
	background-repeat: repeat-x;
	background-position: center center;
	color: #FFF;
	background-color: #822619;
}
form#modify #buttons .cancel {
	margin: 0 0 0 20px;
	background-repeat: repeat-x;
	background-position: center center;
	color: #FFF;
	background-color: #822619;
}

#modify {
	margin-bottom: 30px;
}


/* modify */

form#join #buttons .submit, form#join #buttons .cancel {
	height: 30px;
	width: 150px;
	border: 1px solid #666;
	border-radius: 10px;
	box-shadow: 3px 3px 2px #CCC;
	font-size: 14px;
}
/*높이 30px 너비150px 테두리 1px solid #666
테두리둥글게 10px 박스그림자 3px 3px 2px #CCC
글자크기 14px*/
form#join #buttons .submit {
	background-repeat: repeat-x;
	background-position: center center;
	color: #FFF;
	background-color: #822619;
}
form#join #buttons .cancel {
	margin: 0 0 0 20px;
	background-repeat: repeat-x;
	background-position: center center;
	color: #FFF;
	background-color: #822619;
}

/*  notice  */
#sec_news{ float: left; width: 420px;
			margin-left: 430px;
			margin-bottom: 30px;
}
#news_notice {
	float: left; width: 420px;
	margin-left: 210px;
	margin-bottom: 30px;
}
#sec_news h3,#news_notice h3{font-family: seo;
font-size: 14px;font-style: italic;font-weight: normal;
width: 420px;height: 24px;
background-image: url("../images/h3_back.jpg");
background-repeat: no-repeat;padding: 5px 0 0 22px;}
/*글자체 seo 크기 14px
스타일 italic 굵기 normal 너비 420px 높이 24px
배경이미지h3_back.jpg 반복no-repeat 안여백 5px 0 0 22px*/
#sec_news .orange{color: #408080;
font-family: Arial,Helvetica,sans-serif;
}
#news_notice .brown{color: #408080;
font-family: Arial,Helvetica,sans-serif;
}
#sec_news dl{margin-left: 23px;}/*밖왼쪽여백 23px*/
#sec_news dt{font-family: "Times New roman";
font-size: 16px; margin: 5px 0; color: #822619}
/*글자체 Times New roman 글자크기 16px
 밖여백 5px 0 글자색 #822619*/
#sec_news dd{margin-left: 0;color: #333;}
/*밖왼쪽 여백 0 글자색 #333*/
#news_notice table{width: 400px;
border-collapse: collapse; text-align: center;}
/*너비 400px 여백없애기 글자정렬 가운데*/
#news_notice td{padding: 6px 4px;
border-bottom-width: 1px; border-bottom-style: dotted;
border-bottom-color: #999}
/*안여백 6px 4px 
테두리아래너비 1px 테두리아래스타일 dotted
테두리아래색 #999 */
#news_notice td.contxt{
	background-image: url("../images/tr_back.gif");
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 15px; text-align: left;color: #333}
/*배경이미지 tr_back.gif
반복 no repeat 위치 left center 안왼쪽여백 15px
글자정렬 왼쪽 글자색 #333*/
#news_notice a{color: #333;text-decoration: none;}
/*글자색 #333 밑줄 없음*/
#news_notice a:hover{color: #F90;
text-decoration: none;}/*글자색 #F90 밑줄 none*/
/*  notice  */